---
import Base from '../layouts/Base.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import WhatIs from '../components/WhatIs.astro';
import ForTechSolutions from '../components/ForTechSolutions.astro';
import FitCallForm from '../components/FitCallForm.astro';
import Faq from '../components/Faq.astro';
import Footer from '../components/Footer.astro';
---

<Base>
  <Header />
  <main>
    <Hero />
    <WhatIs />

    <ForTechSolutions />

    <FitCallForm />
    <Faq />
  </main>
  <Footer />
</Base>
